body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 700px;
    padding: 10px;
    background-color: rgba(48, 48, 48, 0.637);
    backdrop-filter: blur(4px);
    height: 100%;
    overflow: auto;
}

.settings_group {
    position: relative;
    width: calc(100% - 50px);
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(31, 31, 31, 0.815);
    border-radius: 10px;
    padding: 15px;

}

@media only screen and (max-width: 700px) {
    #container {
        width: 100%;
    }
}

#goback {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    user-select: none;
    width: calc(100% - 20px);
    transition: 200ms;
}

#goback:hover {
    background-color: rgb(53, 53, 53);
}

button {
    position: relative;
    color: white;
    border: none;
    height: 40px;
    border-radius: 15px;
    transition: 200ms;
    width: 140px;
    background-color: rgb(0, 119, 255);
}

button:hover {
    filter: saturate(4);
}